<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>

<body>
    <section class="section1">
        <div class="main_content">
            <header>
                <div class="container">
                    <div class="name">
                        <img class="logo" src="../public/img/logo/logo.png" alt="logo">
                    </div>
                    <nav>
                        <ul>
                            <li class="item1"><a href="/">Главная</a></li>
                            <li class="item2"><a href="/menu">Прайс лист</a></li>
                            
                            <li class="item4"><a href="/cart">Корзина</a></li>
                            <li class="item5"><a href="/login">Юзер логин</a></li>
                            <li class="item6"><a href="/registration">Регистрация</a></li>
                            <li class="item7"><a href="/admin">Админ логин</a></li>
                            <li class="item8"><div id="bar">

</div></li>
                    </ul>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div class="contentcontainer">
                    <div class="contentblock">
                                                    Лучшая выпечка,<br> которую Вы пробовали
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container">
            <div class="buttons">
                <button id="sort-asc">По возрастанию</button>
                <button id="sort-desc">По убыванию</button>

            </div>
            <div id="productscontaier">
                <div class="product" data-price="1">

                     <img src="img/img/1.jpg" alt="">
                    <h1>2021. 8 ноября</h1>
                    <p>Мы открылись.</p>


                </div>

                <div class="product" data-price="2">

                    <img src="img/img/2.jpg" alt="">
                    <h1>2021. 9 ноября</h1>
                    <p>Мы продали первую выпечку. </p>


                </div>
                <div class="product" data-price="3">

                    <img src="img/img/3.jpg" alt="">
                    <h1>2021. 11 ноября</h1>
                    <p>Мы успешно продали первые 10 тортов</p>


                </div>
                <div class="product" data-price="4">

                    <img src="img/img/4.jpg" alt="">
                    <h1>2021. 17 ноября</h1>
                    <p>Мы запустили этот сайт</p>


                </div>


                <div class="product" data-price="5">

                    <img src="img/img/5.jpg" alt="">
                    <h1>2021. 19 ноября</h1>
                    <p>Мы сделали первую доставку</p>


                </div>
                <div class="product" data-price="6" >

                    <img src="img/img/6.jpg" alt="">
                    <h1>2021. 25 ноября</h1>
                    <p>Мы доставили первые 100 выпечек</p>


                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="footerbg">
            <div class="container">
                <div class="footercontent">
                    <div class="footerblock">
                        <a href="https://www.instagram.com/ryaaafjjw/">Инстаграм</a>.
                        <br>
                        <a href="https://twitter.com/sqrtyernar">Твиттер</a>.
                        <br>
                        <a href="yernarique@gmail.com">Почта</a>.
                    </div>
                    <div class="footerblock">
                        Clannad. 2021
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="sorted_menu.js"></script>
    <script src="live_search.js"></script>
</body>

</html>