
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<head>
<title></title>


</head>
<body>
<div id="header">
</div>

<div id="container">

<div id="main">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <section class="section1">
        <div class="main_content">
            <header>
                <div class="container">
                    <div class="name">
                        <img class="logo" src="../public/img/logo/logo.png" alt="logo">
                    </div>
                    <nav>
                        <ul>
                            <li class="item1"><a href="/">Главная</a></li>
                            <li class="item2"><a href="/menu">Прайс лист</a></li>
                            
                            
                            <li class="item5"><a href="login">Юзер логин</a></li>
                            <li class="item6"><a href="/registration">Регистрация</a></li>
                            <li class="item7"><a href="/admin">Админ логин</a></li>                          
                            <li class="item8"><div id="bar">
</div></li>
                    </ul>
                    </nav>
                </div>
                
            </header>
            
            <div class="container">
                <div class="contentcontainer">
                    <div class="contentblock">
                                       
                        Лучшая выпечка,<br> которую Вы пробовали
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    

      <%= (typeof mydata != "undefined" ? mydata : "") %>

      


    
        
        
        

        

    <div class="mydata"></div>


    <section class="section2">
        <div class="maincontent">
            <div class="container">
                <div class="maincontentcontainer">
                    <div class="content1">
                        <div class="block">
                            <h2>Самое время для выпечки</h2>
                            <p>Наши вкусные пироги сделаны свежими, чтобы вы могли наслаждаться ими со всей любовью.</p>
                            <div class="img1"></div>
                            <div class="img2"></div>
                        </div>
                        <div class="block">
                            <div class="img3"></div>
                            <div class="img4"></div>
                            <h2>Хорошая выпечка для хорошего дня</h2>
                            <p>Несмотря на то, что мы постоянно сталкиваемся с потоком современной жизни, мы все еще можем переживать драгоценные моменты, в которых мы чувствуем, что время остановилось. Эти моменты посвящены мелким повседневным вещам, таким как наслаждение запахом и вкусом свежеиспеченного хлеба.</p>
                        </div>
                    </div>
                    <div class="content2">
                        <div class="orderblock">
                            Нет ничего лучше
                        </div>
                    </div>
                    <div class="content3">
                        <div class="textblock">
                            Свежая и вкусная выпечка
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="contentbg">
            <div class="container">

            </div>
        </div>
    </section>
    <footer>
        <div class="footerbg">
            <div class="container">
                <div class="footercontent">
                    <div class="footerblock">
                        <a href="https://www.instagram.com/ryaaafjjw/">Инстаграм</a>.
                        <br>
                        <a href="https://twitter.com/sqrtyernar">Твиттер</a>.
                        <br>
                        <a href="yernarique@gmail.com">Почта</a>.
                    </div>
                    <div class="footerblock">
                        Clannad. 2021
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>