<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>

<body>
    
    
    
        <section class="section1">
        <div class="main_content">
            <header>
                <div class="container">
                    <div class="name">
                        <img class="logo" src="../public/img/logo/logo.png" alt="logo">
                    </div>
                    <nav>
                        <ul>
                            <li class="item1"><a href="/">Главная</a></li>
                            <li class="item2"><a href="/menu">Прайс лист</a></li>
                            
                            
                            <li class="item5"><a href="/login">Юзер логин</a></li>
                            <li class="item6"><a href="/registration">Регистрация</a></li>
                            <li class="item7"><a href="/admin">Админ логин</a></li>
                            <li class="item8"><div id="bar">

</div></li>
                    </ul>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div class="contentcontainer">
                            <div class = "register">
<h2>Регистрация</h2>

<p>


<form action="/user" method="POST">
<table>
<tr>
<td>Логин</td>
<td><input type="textbox" name="email">
</tr>
<tr>
<td>Имя</td>
<td><input type="textbox" name="firstName">
</tr>
<tr>
    <td>Фамилия</td>
    <td><input type="textbox" name="lastName">
    </tr>
    <tr>
        <td>Номер</td>
        <td><input type="textbox" name="phone">
        </tr>
<tr>
<td></td>
<td><input type="submit" name="submit" value="Регистрация">
</tr>
</table>
</form>

    </div>                        

                </div>
            </div>
        </div>
    </section>
    
        <footer>
        <div class="footerbg">
            <div class="container">
                <div class="footercontent">
                    <div class="footerblock">
                        <a href="https://www.instagram.com/ryaaafjjw/">Инстаграм</a>.
                        <br>
                        <a href="https://twitter.com/sqrtyernar">Твиттер</a>.
                        <br>
                        <a href="yernarique@gmail.com">Почта</a>.
                    </div>
                    <div class="footerblock">
                        Clannad. 2021
                    </div>
                </div>
            </div>
        </div>
    </footer>





















